################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/VSWorkspaceState.json
/.vs/Github/v16/.suo
